@charset "utf-8";

/* begin stylesheet reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, font, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td {  
margin: 0;  
padding: 0;  
border: 0;  
outline: 0;  
font-size: 100%;  
vertical-align: baseline;  
background: transparent;  
}  
body {  
	line-height: 1;  
}  
ol, ul {  
	list-style: none;  
}  
blockquote, q {  
	quotes: none;  
}  
blockquote:before, blockquote:after,  
q:before, q:after {  
	content: '';  
	content: none;  
}  
  
/* remember to define focus styles! */  
:focus {  
	outline: 0;  
}  
  
/* remember to highlight inserts somehow! */  
ins {  
	text-decoration: none;  
}  
del {  
	text-decoration: line-through;  
}  
  
/* tables still need 'cellspacing="0"' in the markup */  
	table {  
	border-collapse: collapse;  
	border-spacing: 0;  
}
header, footer, article, section, nav, menu, hgroup {  
	display: block;  
} 
/* end stylesheet reset */

/* main body */
body {
	background: rgb(223, 226, 226);
	font-family: Georgia, sans-serif;
	font-size: .75em;
}


/* begin top bar */
header {
	position: relative;
	background-color: rgb(43, 40, 37); 
	width: 100%; height: auto;  
	border-bottom: 2px solid rgb(214, 21, 108);
	box-shadow: 0px 0px 5px rgba(0 ,0, 0, 1);
	z-index: 2;
}
 hgroup  {
	 display: inline-block;
	 margin: 15px 12.5%; padding: 0;
 }
 hgroup h1 a {
	 font-size: 2em;
	 font-weight: bold;
	 color: rgb(164, 198, 57);
	 text-shadow: 0 0 5px rgb(22, 22, 22);
	 text-decoration: none;
 }
 hgroup h2 {
	 font-size: .75em;
	 font-weight: none;
	 font-family: Verdana, Geneva, sans-serif;
	 color: rgb(223, 226, 226);
	 text-decoration: none;
	 margin-top: 5px;
 }
 #login {
	 position: absolute;
	 top: 0; right: 0;
	 display: inline-block;
	 margin: 0px 12.5%; padding: 10px 15px;
	 color: rgb(252, 252, 252);
	 text-shadow: 0 0 1px rgb(123, 120, 117);
	 text-decoration: none;
	 font-weight: bold;
	 background: rgb(214, 21, 108);
	 box-shadow: 0px 0px 8px rgba(222, 222, 222, .1), inset 0px 0px 4px rgba(66, 66, 66, .8);
	 border-radius: 0 0 5px 5px;
	 -webkit-transition: all 0.25s ease-in;
	 -moz-transition: all 0.25s ease-in;
	 -o-transition: all 0.25s ease-in;
	 -ms-transition: all 0.25s ease-in;
	 transition: all 0.25s ease-in;
	 border: 1px solid rgb(22, 22, 22);
	 
 }
 #login:hover {
	 color: rgb(242, 242, 242);
	 text-shadow: 0 0 1px rgb(22, 22, 22);
	 box-shadow:  0px 0px 8px rgba(222, 222, 222, .1), inset 0px 0px 12px rgba(43, 40, 37, 1);
 }
/* end top bar */

/* begin navigation bar */
nav {
	position: relative;
	background-color: rgb(164 ,198, 57);  
	width: 100%; height: auto;
	margin: 0; padding: 0;
	box-shadow: 0px 0px 3px rgba(0 ,0, 0, 1), inset 0 0 3px rgba(22, 22, 22, .05); 
	z-index: 1;
}
 nav ul {
	 list-style: none;
	 margin: 0 12.5%; padding: 10px 0px;
 }
 nav ul li {
	 display: inline;
 }
 nav ul li a {
	 z-index: 2;
	 margin: 0 5px; padding: 10px 15px;
	 color: rgb(43, 40, 37);
	 text-shadow: 0px 0px 1px rgb(222, 222, 222);
	 font-weight: bold;
	 text-decoration: none;
	 border-left: 1px solid rgb(164, 198, 57);
	 border-right: 1px solid rgb(164, 198, 57);
	 -webkit-transition: all 0.25s ease-in;
	 -moz-transition: all 0.25s ease-in;
	 -o-transition: all 0.25s ease-in;
	 -ms-transition: all 0.25s ease-in;
	 transition: all 0.25s ease-in;
	 box-shadow: 0px 0px 8px rgba(22, 22, 22, .3), inset 0px 0px 18px rgba(66, 66, 66, .1); 
 }
 nav ul li a:hover {
	 color: rgb(252,252,252);
	 text-shadow: 0 0 1px rgb(22, 22, 22);
	 border-left: 1px solid rgb(164, 198, 57);
	 border-right: 1px solid rgb(164, 198, 57);
	 box-shadow: 0px 0px 8px rgba(22, 22, 22, .8), inset 0px 0px 18px rgba(66, 66, 66, .4); 
 }
/* end navigation bar */

/* begin main content container */
.content {
	display: table;
	background: rgb(213, 217, 217);
	width: 75%; height: auto;
	margin: 0px auto; padding:  15px;
	border-left: 1px solid rgb(222, 222, 222);
	border-right: 1px solid rgb(222, 222, 222);
	box-shadow: 0px 0px 75px rgba(22, 22, 22, .3), inset 0px 0px 10px rgba(66, 66, 66, .65);
} 

.main {
	display: table-cell;
	width: auto; height: auto;
	margin: 0px; padding: 0px;
	
}

.main section {
	margin: 0px; padding: 15px;
	background: rgb(43, 40, 37);
	border-bottom: 2px solid rgb(214, 21, 108);
	color: rgb(222, 222, 222);
	box-shadow: 0px 0px 3px rgba(0 ,0, 0, 1), inset 0 0 3px rgba(22, 22, 22, .05); 
	border-radius: 5px; 
}

aside {
	vertical-align: top;
	display: table-cell;
	margin: 0px; padding: 0px 0px 0px 15px;
	width: 300px;
}
aside h3 {
	
	margin: 0px; padding: 10px;
	background: rgb(43, 40, 37);
	border-bottom: 2px solid rgb(214, 21, 108);
	color: rgb(222, 222, 222);;
	font-size: 1em;
	text-shadow: 0px 0px 1px rgb(22, 22, 22);
	box-shadow: 0px 0px 3px rgba(0 ,0, 0, 1), inset 0 0 3px rgba(22, 22, 22, .05); 
	border-radius: 5px 5px 0 0; 
}
aside div {
	margin: 0px 0px 15px 0px; padding: 15px;
	box-shadow: 0px 0px 3px rgba(0 ,0, 0, 1), inset 0 0 3px rgba(22, 22, 22, .05); 
	background: rgb(164, 198, 57);
	color: rgb(43, 40, 37);
	border-radius: 0 0 5px 5px;
}
/* end main content container */

/* begin main content container */
footer {
	background-color: rgb(43 ,40, 37);  
	width: 100%; height: 200px;
	margin: 0; padding: 0;
	box-shadow: 0px 0px 3px rgba(0 ,0, 0, 1); 
}
/* end main content container */